*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* Fonts */
  --poppins: "poppins", sans-serif;

  /* Colors */
}

body {
  font-family: var(--poppins);
}
header {
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
  padding: 2rem 1rem 0 1rem;
}
header .left-section {
  display: flex;
}
header .left-section p {
  /* outline: 1px solid red; */
  font-size: 2rem;
  font-weight: 700;
}
header .left-section ul {
  display: none;
}
header .right-section div:first-child {
  /* outline: 1px solid red; */
  display: none;
}
header .right-section div:last-child {
  /* outline: 1px solid red; */
}
header .right-section div:last-child ion-icon {
  font-size: 32px;
}
