*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* Fonts */
  --poppins: "poppins", sans-serif;

  /* Colors */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

body {
  font-family: var(--poppins);
}

/* Header section */
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

header .left-section {
  display: flex;
}

header .left-section ul {
  display: none;
}

header .right-section div:first-child {
  display: none;
}

header .right-section div:last-child {
}

header .right-section div:last-child ion-icon {
  font-size: 32px;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
}

.hero-section div:nth-child(1) {
  text-align: center;
}

.hero-section div:nth-child(1) h1 {
  font-size: 4.5rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.info-text {
  font-size: 1.5rem;
  width: 76%;
  text-align: center;
  margin: 0 auto;
  color: var(--grayish-violet);
  line-height: 1.5em;
}

.hero-text {
  width: 82%;
  font-size: 2rem;
}

button {
  margin-top: 3rem;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  background-color: var(--cyan);
  color: #fff;
  border: none;
  font-size: 2rem;
  font-weight: 700;
}

.hero-section div:nth-child(2) {
  /* width: 100%; */
}

.hero-section div:nth-child(2) img {
  width: 100%;
  padding-left: 4rem;
  /* height: 30rem; */
  /* position: relative; */
  left: 4rem;
  /* outline: 1px solid red; */
  /* margin-left: 3rem; */
}

/* Url and stats section */
.url-and-stats-section {
  /* border: 1px solid red; */
  margin-top: 8rem;
  background-color: rgb(235, 234, 234);
  padding-bottom: 8rem;
}

/* Url Shortening Section */
.url-section {
  width: 80%;
  margin: 0 auto;
  /* outline: 1px solid red; */
  padding: 2rem;
  background-color: var(--dark-violet);
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  position: relative;
  top: -6.3rem;
}

.url-section input {
  display: block;
  width: 100%;
  padding: 1.2rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 2px;
}

.url-section button {
  width: 100%;
  margin-top: 1rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--cyan);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 2px;
  font-weight: 700;
}

/*Advanced statistics section  */
.statistics-section {
  text-align: center;
}

.statistics-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.statistics-section .cards-container {
  margin: 8rem 0 0 0;
}

.statistics-section div .card {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  /* margin-bottom: 2rem; */
  padding-bottom: 2rem;
}

.statistics-section div .card div {
  /* outline: 1px solid red; */
  width: fit-content;
  padding: 1.5rem;
  margin: 0 auto;
  position: relative;
  top: -3.4rem;
  display: grid;
  place-items: center;
  background-color: var(--dark-violet);
  border-radius: 50%;
}

.statistics-section div .card p:first-of-type {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cyan-lines {
  margin: 0;
  display: inline-block;
  height: 10rem;
  border: 0.4rem solid var(--cyan);
}

/* Boost Links Section */
.boost-links-section {
  text-align: center;
  background: var(--dark-violet) url("./images/bg-boost-mobile.svg");
  padding: 10rem 0 7.5rem 0;
}

.boost-links-section h2 {
  color: #fff;
  font-size: 2.5rem;
}

.boost-links-section button {
  margin-top: 2rem;
}

/* Footer Section */
footer {
  background: var(--very-dark-violet);
  color: var(--gray);
  text-align: center;
  padding-bottom: 4rem;
}

footer div:nth-child(1) p {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

footer div .links-heading {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 2rem 0;
  color: #fff;
}

footer div ul li {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

footer div:last-child {
  margin: 2rem 0 0 0;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}
